<h1><center>Laboratorio 6: La desperaci√≥n de Mr. Lepin üêº</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos</strong></center>

### Cuerpo Docente:

- Profesor: Mat√≠as Rojas y Mauricio Araneda
- Auxiliar: Ignacio Meza D.
- Ayudante: Rodrigo Guerra

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no ser√°n revisados

- Nombre de alumno 1: Vanessa Gaete
- Nombre de alumno 2:

### **Link de repositorio de GitHub:** `http://....`

### Indice 

1. [Temas a tratar](#Temas-a-tratar:)
3. [Descripcci√≥n del laboratorio](#Descripci√≥n-del-laboratorio.)
4. [Desarrollo](#Desarrollo)

# Temas a tratar

- Aplicar Pandas para obtener caracter√≠sticas de un DataFrame.
- Aplicar Pipelines.
- Aplicar Clusters sobre un conjunto de datos.

## Reglas:

- Fecha de entrega: 09/06/2021
- **Grupos de 2 personas**
- **Ausentes** deber√°n realizar la actividad solos. 
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Prohibidas las copias. 
- Pueden usar cualquer matrial del curso que estimen conveniente.
- C√≥digo que no se pueda ejecutar, no ser√° revisado.

### Objetivos principales del laboratorio

- Comprender y aprovechar las ventajas que nos ofrece la librer√≠a `pandas` con respecto a trabajar en Python 'puro'.
- Crear nuevas caracter√≠sticas para entrenar un modelo de clustering.
- Comprender como aplicar pipelines de Scikit-Learn para generar procesos m√°s limpios.

El laboratorio deber√° ser desarrollado sin el uso indiscriminado de iteradores nativos de python (aka "for", "while"). La idea es que aprendan a exprimir al m√°ximo las funciones optimizadas que nos entrega `numpy`, las cuales vale mencionar, son bastante m√°s eficientes que los iteradores nativos sobre arreglos (*o tensores*).

## Descripci√≥n del laboratorio.

### Importamos librerias utiles üò∏

In [1]:
# Libreria Core del lab.
import numpy as np
import pandas as pd
import datetime
from IPython.display import HTML

# Libreria para plotear (En colab esta desactualizado plotly)
!pip install --upgrade plotly
import plotly.express as px
import plotly.graph_objects as go

# Librerias utiles
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 15.2 MB 31.0 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.10.0

In [2]:
# Si usted est√° utilizando Colabolatory le puede ser √∫til este c√≥digo para cargar los archivos.
try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = 'Direcci√≥n donde tiene los archivos en el Drive'
except: 
    print('Ignorando conexi√≥n drive-colab')

Mounted at /content/drive

# Segmentaci√≥n de Clientes en Tienda de Retail üõçÔ∏è

<p align="center">
  <img width=300 src="https://s1.eestatic.com/2018/04/14/social/la_jungla_-_social_299733421_73842361_854x640.jpg">
</p>

## 1.1 Cargar Dataset

Mr. Lepin, en una nueva reuni√≥n, le cuenta a ud y su equipo que los resultados derivados del an√°lisis exploratorio de dato presentaron una gran utilidad para la empresa y que tiene un gran entusiasmo por continuar trabajando con ustedes.
Es por esto, que Mr. Lepin les pide que cargue y visualicen algunas de las filas que componen el Dataset.
A continuaci√≥n un extracto de lo parlamentado en la reuni√≥n:

    - Usted: Es un gran logro para nuestro equipo que usted haya encontrado excelente el EDA. ¬øQu√© tiene en mente ahora?
    - Mr. Lepin: Resulta que hace alg√∫n tiempo, mientras tomaba un mojito en una reuni√≥n de gerentes en Panam√°, o√≠ a un *chato* acerca de **LRMFP**, que es un modelo que permite personificar a los clientes a trav√©s de la farbicaci√≥n de distintos atributos que describen a los clientes. Lo encontr√© es-tu-pendo √±atito. 
    - Usted: Ehh bueno. Investigaremos acerca de este modelo y veremos lo que podemos hacer.

Por ende, su siguiente tarea es calcular **LRMFP** sobre cada cliente y luego hacer un an√°lisis de las caracter√≠sticas generadas. Para esto, el √°rea de ventas les entrega un nuevo archivo llamado `online_retail_II_cleaned.pickle`, quien posee los datos del DataFrame original limpios y listos para obtener las caracter√≠sticas solicitadas por Mr. Lepin.

In [3]:
df_retail = pd.read_pickle("online_retail_II_cleaned.pickle")
df_retail = df_retail.astype(
    {
        "Invoice": "category",
        "StockCode": "category",
        "Description": "category",
        "Description": str,
        "Customer ID": "category",
        "Country": "category"
    }
)
df_retail.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## 1.2 Creaci√≥n de nuevas Caracteristicas [2 Puntos]

Como ya se les comento, Mr. Lepin esta interesado en obtener las caracter√≠sticas **LRMFP**, para esto les se√±ala que estas caracter√≠sticas se construyen en base a las siguientes definiciones:

- **Length (L)**: Intervalo de tiempo, en d√≠as, entre la primera y la √∫ltima visita del cliente. Mientras mas grande sea el valor, mas fiel es el cliente.
- **Recency (R)**: Indica la actualidad de la interacci√≥n de un cliente con la empresa, y da informaci√≥n sobre la tendencia a repetir la compra. Se define como: 
$$Recency(n)=\dfrac{1}{n} \sum^n_{i=1} date\_diff(t_{fecha final}, t_{m-i+1})$$

 Donde $date\_diff$ representa la diferencia en d√≠as entre la fecha de finalizaci√≥n del periodo de observaci√≥n ($t_{fecha final}$), y la fecha de una visita del cliente cercana a $t_{fecha final}$, $t_{m-i+1}; t_{m}$ es la √∫ltima visita del cliente; y n es el n√∫mero de visitas recientes del cliente consideradas.

- **Monetary (M)**: El t√©rmino "monetario" se refiere a la cantidad media de dinero gastada por cada visita del cliente durante el per√≠odo de observaci√≥n y refleja la contribuci√≥n del cliente a los ingresos de la empresa.

- **Frequency (F)**: Se refiere al n√∫mero total de visitas del cliente durante el periodo de observaci√≥n. Cuanto mayor sea la frecuencia, mayor ser√° la fidelidad del cliente. 

- **Periodicity (P)**: Representa si los clientes visitan las tiendas con regularidad.

$$Periodicity(n)=std(IVT_1, ..., IVT_n)$$

&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donde $IVT$ denota el tiempo entre visitas y n representa el n√∫mero de valores de tiempo entre visitas de un cliente.
 

$$IVT_i=date\_diff(t_{i+1},t)$$

En base a las definiciones se√±aladas, dise√±e una funci√≥n que permita obtener las caracter√≠sticas **LRMFP** recibiendo un DataFrame como entrada. Para esto, no estar√° permitido el uso de iteradores, utilice todas las herramientas que les ofrece `pandas` para realizar esto.

Una referencia que le puede ser √∫til es el [documento original](https://www.researchgate.net/publication/315979555_LRFMP_model_for_customer_segmentation_in_the_grocery_retail_industry_a_case_study) en donde se propone este m√©todo.

**Nota:** Para la $fechafinal$ utilice la fecha m√°xima del dataset m√°s 1 d√≠a.

**Ejemplo de Resultado Esperado:**

| Customer ID | Length | Recency | Frequency | Monetary | Periodicity |
|------------:|-------:|--------:|----------:|---------:|------------:|
|   12346.0   |    294 |      67 |        46 |   -64.68 |        37.0 |
|   12347.0   |     37 |       3 |        71 |  1323.32 |         0.0 |
|   12349.0   |    327 |      43 |       107 |  2646.99 |        78.0 |
|   12352.0   |     16 |      11 |        18 |   343.80 |         0.0 |
|   12356.0   |     44 |      16 |        84 |  3562.25 |        12.0 |

**Respuesta:**

In [4]:
def recency(n, dataframe_in):
  #dataframe_out = pd.DataFrame(columns = ["Customer ID", "Max Invoice Dates"])
  df=pd.DataFrame()
  df["CustomerID"] = dataframe_in["Customer ID"]
  df["Invoice"] = dataframe_in["Invoice"]
  df["InvoiceDate"]= dataframe_in["InvoiceDate"]
  df_without_duplicates = df.drop_duplicates(subset=['Invoice'])
  df = df_without_duplicates.groupby(["CustomerID"])["InvoiceDate"].nlargest(n)

  #date_diff
  tfinal = dataframe_in["InvoiceDate"].max()
  df = abs(df - tfinal).apply(lambda x: x.days)
  #print(df.index.get_level_values('CustomerID'))

  #sum()
  df = df.groupby(["CustomerID"]).sum()
  df = df*(1/n)

  df_recency = pd.DataFrame()
  df_recency["CustomerID"] = df.keys()
  df_recency["Recency"] = df.values

  return df_recency
  #result = 1/n*sum()

recency(3, df_retail)

     CustomerID     Recency
0       12346.0  255.666667
1       12347.0   13.666667
2       12348.0   24.333333
3       12349.0  157.000000
4       12351.0    3.333333
...         ...         ...
4309    18283.0   48.666667
4310    18284.0   22.000000
4311    18285.0   98.333333
4312    18286.0  156.333333
4313    18287.0   58.333333

[4314 rows x 2 columns]

In [5]:
import statistics
import numpy as np

def periodicity(dataframe_in):
  df_periodicity= pd.DataFrame()

  df_without_duplicates = dataframe_in.drop_duplicates(subset=['Invoice'])
  df = df_without_duplicates.groupby(["Customer ID"])["InvoiceDate"].agg(lambda x: x.diff())
  df = df.apply(lambda x: x.days)
  df = df.apply(lambda x: np.delete(x, 0))
  df_periodicity["n"] = df.apply(lambda x: len(x))

  df = df.apply(lambda x: np.std(x))

  df_periodicity["CustomerID"] = df.keys()
  df_periodicity["Periodicity"] = df.values

  df_periodicity['Periodicity'] = df_periodicity.apply(
    lambda row: row.Periodicity if row.n > 1 else -1 , axis=1)

  return df_periodicity

periodicity(df_retail)

/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:263: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims, where=where)

              n CustomerID  Periodicity
Customer ID
12346.0      10    12346.0    34.778729
12347.0       1    12347.0    -1.000000
12348.0       0    12348.0    -1.000000
12349.0       2    12349.0    72.000000
12351.0       0    12351.0    -1.000000
...          ..        ...          ...
18283.0       5    18283.0    55.304973
18284.0       0    18284.0    -1.000000
18285.0       0    18285.0    -1.000000
18286.0       1    18286.0    -1.000000
18287.0       3    18287.0    51.860925

[4314 rows x 3 columns]

In [16]:
def custom_features(dataframe_in):
    dataframe_out = pd.DataFrame(columns = ["CustomerID", "Length", "Recency", "Frecuency", "Monetary", "Periodicity"])
    
    #LENGTH
    a = dataframe_in.groupby(["Customer ID"]).min()["InvoiceDate"]
    b = dataframe_in.groupby(["Customer ID"]).max()["InvoiceDate"]
    dataframe_out["CustomerID"] = a.keys()
    dataframe_out["Length"] = abs(a - b).apply(lambda x: x.days).values
    #RECENCY
    df_recency = recency(5, dataframe_in)
    dataframe_out["Recency"] = df_recency["Recency"].values

    #MONETARY
    dataframe_out["Monetary"] = (dataframe_in.groupby(["Customer ID"]).mean()["Price"] * dataframe_in.groupby(["Customer ID"]).mean()["Quantity"]).values

    #FRECUENCY
    dataframe_out["Frecuency"] = dataframe_in.groupby(["Customer ID"]).count()["InvoiceDate"].values

    #PERIODICITY
    df_periodicity = periodicity(dataframe_in)
    dataframe_out["Periodicity"] = df_periodicity["Periodicity"].values
    return dataframe_out

custom_features(df_retail)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.

/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:263: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims, where=where)

     CustomerID  Length  Recency  Frecuency    Monetary  Periodicity
0       12346.0     196    287.0         33   13.264646    34.778729
1       12347.0      37      8.2         71   26.765047    -1.000000
2       12348.0       0     14.6         20   13.418675    -1.000000
3       12349.0     181     94.2        102   83.546003    72.000000
4       12351.0       0      2.0         21   29.272245    -1.000000
...         ...     ...      ...        ...         ...          ...
4309    18283.0     275    136.8        217    3.263627    55.304973
4310    18284.0       0     13.2         28   57.395995    -1.000000
4311    18285.0       0     59.0         12  100.895833    -1.000000
4312    18286.0     247     93.8         67   38.777100    -1.000000
4313    18287.0     188     76.2         85   47.755617    51.860925

[4314 rows x 6 columns]

**Res√∫esta de Pauta:**

En el caso de que la persona tenga menos de dos visitas entonces se "castiga" su periodicidad como -1.

## 1.3 Pipelines üë∑

Finalmente *Don Mora* le pregunta si seria posible realizar un pipeline para realizar una segmentaci√≥n de los clientes con los nuevos datos generados, a lo que usted responde que **s√≠** y propone la utilizaci√≥n de k-means para la segmentaci√≥n.

A continuaci√≥n siga los pasos requeridos para obtener la segmentaci√≥n de clientes.

### 1.3.1 Estandarizar Caracteristicas [0.5 puntos]

Construya una clase llamada ``MinMax()`` utilizando ``BaseEstimator`` y ``TransformerMixin`` para realizar una transformaci√≥n de cada una de las columnas de un DataFrame utilizando ``ColumnTransformer()`` m√°s tarde (tome como referencia el siguiente [enlace](https://sklearn-template.readthedocs.io/en/latest/user_guide.html#transformer)).


 Para esto considere que Min-Max escaler queda dada por la ecuaci√≥n:

$$MinMax = \dfrac{x-min(x)}{max(x) - min(x)}$$

Con esto buscamos que los valores que componen a las columnas se muevan en el rango de valores $[0, 1]$.

**Respuesta:**

In [7]:
from sklearn.base import TransformerMixin


class MinMax(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
      return self
    def transform(self, X):
      minmax = (X - X.min())/(X.max() - X.min())
      return minmax

### 1.3.2 `T-SNA` Pipeline [1.0 puntos]

Para comenzar introduci√©ndose en el uso de pipeline, decide probar realizando un pipeline enfocado en la reducci√≥n de dimensionalidad y as√≠ hacer no decepcionar a Mr. Lepin con la clusterizaci√≥n del modelo. 

Configure un pipeline utilizando el algoritmo `T-SNE` sobre los datos **LRMFP**, donde, para la realizaci√≥n del pipeline considera los siguientes pasos:

1. Como primer paso obtenga las caracter√≠sticas **LRMFP** desde el DataFrame ``df_retail_II_cleaned.pickle`` utilizando la funci√≥n ``custom_features`` creada anteriormente, junto a ``FunctionTransformer()``. Considere esto como el primer paso de su pipeline.
2. En segundo lugar usando ``ColumnTransformer()`` aplique el MinxMax scaler creado por usted sobre todas las columnas generadas en el paso anterior. 
3. Finalmente, aplique un √∫ltimo paso donde obtiene las 2 componentes m√°s relevantes utilizando el algoritmo T-sne de sckit-learn.

Tras aplicar las transformaciones sobre el dataset **LRMFP**, gr√°fique las componentes obtenidas en la reducci√≥n de dimensionalidad.

**Respuesta:**

In [25]:
from sklearn.preprocessing import MinMaxScaler
LRMFP = FunctionTransformer(custom_features, validate=False)

pl = Pipeline(memory=None,
    steps=[
        ('LRMFP', LRMFP),
        ('scaler', MinMaxScaler()),
        ('TSNE', TSNE())
    ], verbose=True)



df_preprocesado = pl.fit_transform(df_retail)
df_preprocesado

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.

/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:263: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims, where=where)
/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:783: FutureWarning: The default initialization in TSNE will change from 'random' to 'pca' in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:793: FutureWarning: The default learning rate in TSNE will change from 200.0 to 'auto' in 1.2.
  FutureWarning,

[Pipeline] ............. (step 1 of 3) Processing LRMFP, total=   4.3s
[Pipeline] ............ (step 2 of 3) Processing scaler, total=   0.0s
[Pipeline] .............. (step 3 of 3) Processing TSNE, total=  19.7s

array([[-12.843538 ,  21.541824 ],
       [-62.452286 ,  20.252346 ],
       [-69.44312  ,  23.148777 ],
       ...,
       [ 39.820732 , -47.934    ],
       [ 55.08496  ,  11.55499  ],
       [ 49.377884 ,  -4.2806473]], dtype=float32)

In [27]:
df_preprocesado = pd.DataFrame(df_preprocesado)
df_preprocesado

              0          1
0    -12.843538  21.541824
1    -62.452286  20.252346
2    -69.443123  23.148777
3     -9.436316  32.374275
4    -71.682457  23.422455
...         ...        ...
4309  38.306015  18.956295
4310  37.864223 -61.824085
4311  39.820732 -47.933998
4312  55.084961  11.554990
4313  49.377884  -4.280647

[4314 rows x 2 columns]

In [ ]:
import plotly.express as px

fig = px.scatter(df_preprocesado, x="sepal_width", y="sepal_length", color="species",
                 size='petal_length', hover_data=['petal_width'])
fig.show()

### 1.3.3 Clustering

#### 1.3.3.1 M√©todo del Codo [1 puntos]

Utilizando la clase creada para escalamiento, aplique el m√©todo del codo para visualizar cual es el n√∫mero de clusters que mejor se ajustan a los datos. Realice esto utilizando el algoritmo K-means dentro de un pipeline para un $k \in [1,20]$, donde k representa el n√∫mero de clusters del k-means. Para la realizaci√≥n de esta secci√≥n y la pr√≥xima (1.3.3.2), considere los mismos pasos utilizados para el t-sne, pero permutando el algoritmo de reducci√≥n de dimensionalidad por k-means.

A trav√©s del grafico obtenido, comente y justifique que valor de k escoger√≠a para realizar el k-means.

**Respuesta:**

#### 1.3.3.2 Segmentaci√≥n de Clientes con K-Means üéÅ [1 punto]

En base a la elecci√≥n de k realizada en la secci√≥n anterior, utilice este valor escogido y entrene un modelo de K-means utilizando el mismo pipeline de scikit-learn utilizado anteriormente.

Una vez ajustado los datos, genere una tabla con los promedios (o medianas) para cada uno de los atributos, agrupando estos por el cl√∫ster que pertenecen. ¬øEs posible observar agrupaciones coherentes?, ¬øQu√© tipo de clientes posee el retail?, Justifique su respuesta y no decepcione a Mr. Lepin.

**Respuesta:**

**Respuesta Esperada:**

|         | Length  | Recency   | Frequency | Monetary | Periodicity |       |
|---------|---------|-----------|----------|-------------|-------|-------|
| Cluster |         |           |          |             |       |       |
|    0    |   258.8 |      45.2 |     76.1 |      1107.7 | 107.6 |   449 |
|    1    |    76.1 |     217.6 |     45.5 |       791.7 |  14.1 |   466 |
|    2    |   368.5 |       4.8 |   2715.0 |    226621.6 |   4.2 |     4 |
|    3    |    85.3 |      45.7 |     65.8 |      1047.0 |  10.5 |   987 |
|    4    |   347.2 |      15.9 |   1658.0 |     35829.3 |   8.0 |    25 |
|    5    |   298.0 |      29.8 |    183.8 |      3639.9 |  32.0 |  1188 |

#### 1.3.3.3 Plot de K-Means üìà [0.5 puntos]

Por √∫ltimo, Mr. Lepin, impaciente de no entender lo que usted intenta explicarle, le solicita que por favor muestre alg√∫n resultado "visual" de los grupos encontrados.

Para esto, grafique nuevamente las caracter√≠sticas encontradas usando `T-SNE` (no calcule de nuevo, simplemente utilice las proyecciones encontradas) y agregue las labels calculadas con kmeans como el argumento `color`.   

Comente: ¬øSe separan bien los distintos clusters en la visualizaci√≥n?

**Respuesta:**

# Conclusi√≥n
Eso ha sido todo para el lab de hoy, recuerden que el laboratorio tiene un plazo de entrega de una semana y que **los d√≠as de atraso no se pueden utilizar para entregas de lab** solo para tareas. Cualquier duda del laboratorio, no duden en contactarnos por mail o U-cursos.

![Gracias Totales!](https://i.pinimg.com/originals/65/ae/27/65ae270df87c3c4adcea997e48f60852.gif "bruno")

<br>
<center>
<img src="https://i.kym-cdn.com/photos/images/original/001/194/195/b18.png" width=100 height=50 />
</center>
<br>

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=87110296-876e-426f-b91d-aaf681223468' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>